[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ply = "*"
pytest = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
setuptools = "*"

[requires]
python_version = "3.12"
